*~
*.pyc
*.m
*.csv
both.tif
*.mesh
*.msh
*.jpg
*.vtu
*.avi
*.mp4
smoothpatch*
stlread*
tubes.stl
unifyMeshNormals*
vertex_neighbors*
formatMeshOutput*
meshEdges*
meshFace*
meshFaceEdges*
meshFaceNumber*
parseMeshData*
vertex_neighbours*
test/*

